body {
	padding-top: 50px;
	background-color: black;
	background-image: url("../images/bg-img.jpg");
	background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 50% 0%;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Quattrocento', Arial, serif;
}

hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.center {
	text-align: center;
}

.main {
	padding-top: 25px;
	margin-bottom: 65px;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

.logo {
	padding: 50px;
	margin-top: 30px;
}

.logo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-banner {
	background-image:url('../images/bannerimg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 100% 100%;
	width: 100%;

}

.page-header {
	border-bottom: none;
	text-align: center;
}

.img-content {
	margin-top: 20px;
	padding: 5px;
}

.panel {
	margin-bottom: 10px;
}

.panel-title {
	text-align: center;
}

.well, .page-header {
	margin-bottom: 0;
}

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	animation-delay: 0s;
}

.fade-in.two {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.fade-in.three {
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	animation-delay: 1.3s;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color: black;
	font-size: 25px;
}

#footer p{
	margin: 5px 0px;
}

#content-box {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 1px 40px 30px;
	margin-bottom: 10px;
}
#copyright {
	color: #999;
	font-size: 10px;
	margin: 0px;
}

@media only screen and (min-width: 768px) {
	form.well {
		margin: 0px 100px 0px;
	}
}

@media only screen and (min-width: 1200px) {
	form.well {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media only screen and (max-width: 768px) {
	.page-header {
		padding-top: 0px;
	}
}



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }